# {{ tool }} mirror

Mirror of {{ tool }} for pre-commit with conda as a language.

For pre-commit: see [here](https://github.com/pre-commit/pre-commit)

For {{ tool }}: see [here]({{ url }})

## Using {{ tool }} with pre-commit and conda:

Add this to your `.pre-commit-config.yaml`

```yaml
 - repo: https://github.com/quantco/pre-commit-mirrors-{{ tool }}
   rev: ''  # Use the sha / tag you want to point at
   hooks:
     - id: {{ tool }}-conda
```
